/* Resets */
html, body {
	margin: 0 !important;
	padding: 0 !important;
    border: 0 !important;
}

.header-app {
    position: fixed;
    height: 70px;
    top: 0;
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(147deg, #2e2e2e 0%, #434343 74%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999;

    .logo-header {
        width: 60px;
        height: 60px;
        margin-left: 15px;
    }

    .menu-header {
        display: flex;
        justify-content:  space-around;

        .link-header {
            width: 120px;
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            font-family: 'Squada One', cursive;
            color: #787878;
            text-decoration: none;
        }
        
        .link-header:hover {
            color: #969696;
        }
        
        .link-header:active {
            color: #c1c1c1;
        }


    }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 500px){
    .header-app {
        position: fixed;
        height: 70px;
        top: 0;
        width: 100%;
        background-color: #3c3c3c;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 7px 19px 5px 11px;
        z-index: 999999;
    
        .logo-header {
            width: 70px;
            height: 70px;
        }
    
        .menu-header {
            display: flex;
            justify-content:  space-around;
            margin-right: 30px;
            .link-header {
                width: 80px;
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                font-family: 'Squada One', cursive;
                color: #787878;
                text-decoration: none;
            }
            
            .link-header:hover {
                color: #969696;
            }
            
            .link-header:active {
                color: #c1c1c1;
            }
    
    
        }
    }
}

@media only screen and (min-device-width: 321px) and (max-device-width: 413px){
    .header-app {
        position: fixed;
        height: 70px;
        top: 0;
        width: 100%;
        background-color: #3c3c3c;
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 7px 19px 5px 11px;
        z-index: 999999;
    
        .logo-header {
            width: 70px;
            height: 70px;
        }
    
        .menu-header {
            display: flex;
            justify-content:  space-around;
            margin-right: 30px;
            .link-header {
                width: 80px;
                text-align: center;
                font-size: 25px;
                font-weight: bold;
                font-family: 'Squada One', cursive;
                color: #787878;
                text-decoration: none;
            }
            
            .link-header:hover {
                color: #969696;
            }
            
            .link-header:active {
                color: #c1c1c1;
            }
    
    
        }
    }
}

@media only screen and (max-device-width: 320px){

    .header-app {
        position: fixed;
        height: 70px;
        top: 0;
        width: 100%;
        background-color: #3c3c3c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 19px 5px 11px;
        z-index: 999999;
    
        .logo-header {
            width: 70px;
            height: 70px;
            margin-left: 0;
        }
    
        .menu-header {
            display: flex;
            justify-content:  space-around;
            padding-right: 5px;

            .link-header {
                width: 77px;
                text-align: center;
                font-size: 22px;
                font-weight: bold;
                font-family: "Squada One", cursive;
                color: #787878;
                text-decoration: none;
            }
            
            .link-header:hover {
                color: #969696;
            }
            
            .link-header:active {
                color: #c1c1c1;
            }
    
    
        }
    }
}

