<div class="main-container-about">
    <div class="photo-container">
        <img src="../../assets/img/eu-ai1.jpg" class="photo">
    </div>  
    <div class="about-container">
        <p class="about-title">About</p>

        <p class="about-text">
            <b>No mundo real:</b> <br>
            Olá! Meu nome é <b>Rhuan Carlos</b>, sou apaixonado por tecnologia e desde criança almejo me tornar programador e auxiliar no avanço e desenvolvimento de novas tecnologias. Atualmente atuo como desenvolvedor Front-End e pretendo me especializar na área, amo o que faço e não pretendo parar tão cedo.
            <br> <br>
            <b>Na <i>Summoner's Rift:</i></b> <br>
            Olá! Pode me chamar de <b>RHUTOMERE</b> se você não me conhece provavelmente não sentiu o gosto de ser carregado pelo melhor Tryndamere do Brasil <s>Desconsidere o Tirano</s>, caso você me conheça e jogou contra mim, peço perdão por ter destruído sua SoloQ com minha extrema habilidade e domínio com o campeão. 
        </p>    

        <div class="social-media-container">
            <a href="https://github.com/rhutao" target="_blank" class="link-social-media">
                <i class="fab fa-github-square custom"></i>
            </a>
            
            <a href="https://www.linkedin.com/in/rhuan-carlos/" target="_blank" class="link-social-media">
                <i class="fab fa-linkedin custom"></i>
            </a>

            <a href="https://www.facebook.com/rhuan.carlitos" target="_blank" class="link-social-media">
                <i class="fab fa-facebook-square custom"></i>
            </a>

            <a href="https://twitter.com/rhtlul" target="_blank" class="link-social-media">
                <i class="fab fa-twitter-square custom"></i>
            </a>

            <a href="https://steamcommunity.com/id/rhutao/" target="_blank" class="link-social-media">
                <i class="fab fa-steam-square custom"></i>
            </a>
        </div>
    </div>
</div>

